.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: var(--color-white);
  border-radius: 12px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  width: 480px;
  height: 596px;
  position: relative;
  box-sizing: border-box;
}

.imageContainer {
  height: 200px;
  background: var(
    --gradient-point,
    linear-gradient(180deg, #bcfff7 0%, #fff 100%)
  );
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  /* padding: 16px; */
}

.inputContainer {
  display: flex;
  padding: var(--spacing-lg);
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
  align-self: stretch;
}

.card1 {
  position: absolute;
  top: 20%;
  transform: translateX(-42%);
  z-index: 1;
}

.card2 {
  position: absolute;
  z-index: 2;
}

.card3 {
  position: absolute;
  top: 20%;
  transform: translateX(42%);
  z-index: 3;
}

.closeButton {
  margin-top: 16px;
  padding: 8px 12px;
  background-color: var(--color-gray-200);
  color: var(--color-white);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  gap: 12px;
}

.secondary {
  border-radius: var(--radius-md);
  border: 1px solid var(--color-border-primary);
  background: var(--color-background-secondary);
  color: var(--color-black);
  padding: 10px 16px;
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  line-height: var(--button-line-height);
  cursor: pointer;
}

