.card {
  position: relative; 
  display: flex;
  flex-direction: column;
  padding: var(--spacing-lg);
  background-color: var(--color-white);
  border: 1px solid var(--color-border-primary);
  border-radius: var(--radius-md);
  cursor: pointer;
  transition: all 0.2s ease;
  width: 100%;
  max-width: 320px;
  box-sizing: border-box;
  box-shadow: var(--shadow-primary);
}

.card:hover {
  transform: translateY(-2px);
}

.card:active {
  transform: translateY(0);
}

.title {
  margin: 0;
  margin-bottom: 4px;
  color: var(--color-black);
  word-break: break-word;
}

.summary {
  color: var(--color-gray-300);
}

.description {
  margin: 0;
  margin-bottom: var(--spacing-lg);
  color: var(--color-gray-300);
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.footer {
  margin-top: auto;
}

.updated_at {
  margin: 0;
  color: var(--color-gray-300);
  flex-shrink: 0;
}