.searchContainer {
  position: relative;
  width: 100%;
}

.searchIcon {
  position: absolute;
  left: var(--spacing-md);
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-gray-200);
  width: var(--icon-size-md);
  height: var(--icon-size-md);
}

.searchInput {
  width: 100%;
  padding-left: 36px;
  padding-right: var(--spacing-md);
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
  background-color: var(--color-gray-100);
  border: none;
  border-radius: var(--radius-md);
  color: var(--color-black);
  outline: none;
  transition: all 0.2s;
}