.container {
  min-height: 100vh;
  background-color: var(--color-background-secondary);
  padding-top: 40px;
  width: 100vw;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 64px 20px 0 20px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectTitle {
  color: var(--color-black);
}

.scenarioName {
  color: var(--color-gray-300);
  margin-left: var(--spacing-sm);
}

/* Header 스타일 */
.header {
  margin-bottom: var(--spacing-lg);
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

/* Main Content 스타일 */
.main {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.progress {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.progressButton {
  flex-shrink: 0;
}

.status {
  min-width: 142px;
  border-radius: var(--radius-sm);
  background-color: var(--color-gray-100);
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-lg);
  padding: var(--spacing-sm);
  white-space: nowrap;
}

.statusItem {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  flex-shrink: 0;
}

.icon {
  color: var(--color-gray-300);
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
  flex-shrink: 0;
}

.card {
  display: flex;
  gap: var(--spacing-lg);
  margin-top: var(--spacing-lg);
  flex-wrap: wrap;
  justify-content: center;
}

.chartWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
  margin-top: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.resourceSpecs {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--system-gray2, #666);
}

.carouselControls {
  display: flex;
  justify-content: center;
  gap: var(--spacing-md);
}

.carouselTitle {
  color: var(--color-black);
  min-width: 160px;
  text-align: center;
}

.carouselCounter {
  color: var(--color-gray-200);
  margin-left: 8px;
}

.arrowButton {
  border: none;
  padding: 0 var(--spacing-lg);
  color: var(--color-black);
  background-color: transparent;
  cursor: pointer;
}

.resourceSpecs {
  display: flex;
  align-items: center;
}


/* 반응형 디자인 */
@media (max-width: 768px) {
  .content {
    padding: 32px 16px 0 16px;
  }

  .headerInner {
    flex-direction: column;
    gap: 16px;
    align-items: stretch;
  }
}
